{% extends "issues/base.html" %}
{% block nav %}
    <a class="nav-link" href="{% url 'issues:issue_create' %}">Добавить задачу</a>
{% endblock %}
{% block content %}
<div class="border rounded-3 my-4 p-3">
    <h5>Список задач</h5>
</div>
<div class="row row-cols-md-3 g-4">
    {% for issue in issue_list %}
    <div class="col">
        <div class="card border-secondary h-100 mb-3">
            <div class="card-header d-flex justify-content-between">
                <h5 class="card-title">{{ issue.summary }}</h5>
            </div>
            <div class="card-body text-secondary">
                <p>Статус: {{ issue.status }}</p>
                <p>Тип: {% for type in issue.types.all %}{{ type }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                <div>
                    <a href="{% url 'issues:issue_detail' issue.pk %}" class="btn btn-outline-secondary btn-sm">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="{% url 'issues:issue_update' issue.pk %}" class="btn btn-outline-warning btn-sm">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                    <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                            data-bs-target="#deleteModal{{ issue.pk }}">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal{{ issue.pk }}" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Удаление задачи</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <p>Вы хотите удалить задачу "{{ issue.summary }}"?</p>
                        <form action="{% url 'issues:issue_delete' issue.pk %}" method="POST"
                              id="delete-form-{{ issue.pk }}">
                            {% csrf_token %}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" form="delete-form-{{ issue.pk }}" class="btn btn-danger">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
        <p>Нет задач</p>
    {% endfor %}
</div>
{% endblock %}